@import url('https://fonts.googleapis.com/css2?family=Cascadia+Code:ital,wght@0,200..700;1,200..700&family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

@import "tailwindcss";


html{
  scroll-behavior: smooth;
}

@theme {

    --font-ibm: "IBM Plex Serif", serif;
    --font-cascadia: "Cascadia Code", sans-serif;
    --color-primary:#fea115;

}

.container{
    @apply mx-auto p-3.5
}

@keyframes moveY {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-0.7rem);
  }
  100% {
    transform: translateY(0);
  }
}

.free-delivery-animation {
  animation: moveY 2s linear infinite;
  color: #fea115;
}


